@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  html,
  body {
    @apply h-full w-full overflow-x-hidden;
  }

  body {
    @apply bg-background text-foreground m-0 p-0;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #root {
    @apply h-full w-full;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0a0c14;
}

::-webkit-scrollbar-thumb {
  background: #d4af37;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c19f35;
}
